<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${factura.descripcion}"></div>
			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead class="thead-inverse">
						<tr>
							<th>ID Producto</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${factura.items}">
							<td th:text="${item.producto.id}"></td>	
							<td th:text="${item.producto.nombre}"></td>
							<td th:text="${item.cantidad}"></td>
							<td th:text="${item.calcularImporte()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>