<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="javascript">
		
		$(document).ready(function() {
		
			$("#buscar_producto").autocomplete({
				
				source: function(request, response) {
					$.ajax({
						url: "/factura/cargar-productos/" + request.term,
						dataType: "json",
						data: {
							term: request.term
						},
						success: function(data) {
							response($.map(data, function(item) {
								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio
								};
							}));
						}
					});
				},
			
				select: function(event, ui) { // Se ejecuta cuando seleccionamos el producto en el buscador
					//$("#buscar_producto").val(ui.item.label); // Pasamos el nombre del producto al elemento con id 'buscar_producto'
					
					if (itemsHelper.hasProducto(ui.item.value)) {
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false;
					}
					
					var linea = $("#plantillaItemsFactura").html(); // Obtiene el contenido html de deste elemento a través del ID
					
					// Cambiamos los parámetros del contenido obtenido por los valores obtenidos en el success
					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					
					// Agregamos la línea al tbody de la tabla
					$("#cargarItemProductos tbody").append(linea);
					
					// Utilizamos la función calcularImporte de la variable itemsHelper
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);
					
					itemsHelper.calcularGranTotal();
					
					return false;
				}
				
			});
			
			$("form").submit(function() {
				$("#plantillaItemsFactura").remove();
				return;
			})
			
		});
		
		// Objeto json que contiene distintas funciones a las que podemos acceder
		var itemsHelper = {
				
			calcularImporte: function(id, precio, cantidad) {
				$("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
				this.calcularGranTotal();
			},
			
			hasProducto: function(id) {
				var resultado = false;
				$('input[name="item_id[]"]').each(function() {
					if (parseInt(id) == parseInt($(this).val()))
						resultado = true;
				})
				return resultado;
			},
			
			incrementaCantidad: function(id, precio) {
				// Si existe cantidad se le asigna su valor a la variable cantidad. En caso contrario, se le asigna el valor 0
				var cantidad = $("#cantidad_"+ id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
				$("#cantidad_"+ id).val(++cantidad);
				this.calcularImporte(id, precio, cantidad);
			},
			
			eliminarLineaFactura: function(id) {
				$("#row_" + id).remove();
				this.calcularGranTotal();
			},
			
			calcularGranTotal: function() {
				var total = 0;
				$("span[id^='total_importe_']").each(function() {
					total += parseInt($(this).html());
				})
				$("#gran_total").html(total);
			}

		}
	
	</script>
</body>

</html>